[Desktop Entry]
Name=AlNajm Core
Comment=Connect to the AlNajm P2P Network
Comment[de]=Verbinde mit dem AlNajm peer-to-peer Netzwerk
Comment[fr]=AlNajm, monnaie virtuelle cryptographique pair à pair
Comment[tr]=AlNajm, eşten eşe kriptografik sanal para birimi
Exec=alnajm-qt %u
Terminal=false
Type=Application
Icon=alnajm128
MimeType=x-scheme-handler/alnajm;
Categories=Office;Finance;
