name: Build AlNajm Windows EXE
on: [push]
jobs:
  build-windows:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install build-essential libtool autotools-dev automake pkg-config bsdmainutils curl git g++-mingw-w64-x86-64
    - name: Build
      run: |
        cd depends
        make HOST=x86_64-w64-mingw32 -j4
        cd ..
        ./autogen.sh
        ./configure --prefix=`pwd`/depends/x86_64-w64-mingw32
        make -j4
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: AlNajm-Windows-Exe
        path: src/qt/*.exe
