name: Build AlNajm Multi-OS

on: [push]

jobs:
  windows-build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libtool autotools-dev automake pkg-config bsdmainutils curl git g++-mingw-w64-x86-64 python3
      - name: Build Windows
        run: |
          cd depends
          make HOST=x86_64-w64-mingw32 -j2
          cd ..
          ./autogen.sh
          ./configure --prefix=`pwd`/depends/x86_64-w64-mingw32 --enable-static --disable-shared
          make -j2
      - name: Upload Windows
        uses: actions/upload-artifact@v4
        with:
          name: AlNajm-Windows
          path: |
            src/qt/*.exe
            src/*.exe

  linux-cli-build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - name: Install Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libtool autotools-dev automake pkg-config bsdmainutils curl git python3
      - name: Build Linux
        run: |
          ./autogen.sh
          ./configure --enable-static --disable-shared --with-gui=no
          make -j2
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: AlNajm-Linux-Termux
          path: src/alnajmd
